body {
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: 700;
}

h1 {
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 48px;
    color: white;
    margin-top: 200px;
    font-weight: 750;
}

.fortune-box {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    transition: transform 0.25s ease;
}

.fortune-box img {
    width: 120px; /* Adjust the width to make the icon larger */
    height: 120px; /* Adjust the height to make the icon larger */
    margin-top: 20px;
}

.fortune-box p {
    font-size: 24px;
    color: #ffffff;
}


.fortune-box:hover {
    transform: scale(1.2);
    color:rgba(130, 24, 218, 0.241)
}
