
/*TASKS LEFT: 
- make the screen resizable 
- generate the random images */ 

body{
    /* background gradient */
    background-image: linear-gradient(
      to right,
      rgb(176,148,255),
      rgb(146,122,235) 47% ,
      rgb(101,84,204)
    );
    color:aliceblue;
    overflow: hidden;
  }

  .container {
    text-align: center;
    margin-top: 100px;
    width: 100%; 
    height: auto;
  }

/* buttons */
.buttons {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    
  }

  .round-button {
    border-radius: 50%;
    border: none;
  }

  /*background vectors*/
  .leftvector {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1; 
    max-width: 50%;
    max-height: 100%;
  }

  .rightvector {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    max-width: 50%;
    max-height: 100%;
  }

/* Navigation buttons */
.navigation-left {
  position: absolute;
  bottom: 100px;
  left: 90px;
  z-index: 1;
  width: 25%;
  height: 55px;
}

.navigation-right {
  position: absolute;
  bottom: 100px;
  right: 90px;
  z-index: 1;
  width: 25%;
  height: 55px;
}

.button-left, .button-right {
  border: none;
  border-radius: 12px;
  background-color:  rgb(101,84,204); 
  color: white;
  /* max-width: 100%;
  height: auto; */
  font-size: 20px; 
  cursor: pointer;
  width: 50%;
  height: 55px;
}

/*resizable images*/
img {
  width: 100%;
  height: auto;
}

