@font-face {
    font-family: AnekDevanagari;
    src: url(assets/font/AnekDevanagari-VariableFont_wdth,wght.ttf);
}

* {
    font-family: 'AnekDevanagari', sans-serif;
    color: white;
}
  
body {
    background-image: linear-gradient(
        to right,
        rgb(101,84,204),
        rgb(143,111,196)
    );
}

h1 {
    text-align: center;
    font-size: calc(6vh + 2vw);
    font-weight: 600;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7%;
    position: relative;
    height: 8vh;
    margin-bottom: 5%;
}

.leftvector {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 75%;
    max-height: 100%;
    z-index: -1; 
}

.profile {
    display: block;
    text-align: center;
    width: 20vw;
    height: 60vh;
    border-radius: 20px;
    margin: 20px;
    background-color: rgba(65, 48, 112, 0.75);
}

.profile img {
    max-width: 80%;
    border-radius: 20px;
    margin: 1vw 1vh;
}