body{
  /* background gradient */
  background-image: linear-gradient(
    to left,
    rgb(176,148,255),
    rgb(146,122,235) 47% ,
    rgb(101,84,204)
  );
}

.container {
  text-align: center;
  margin-top: 100px;
}

.rightvector {
  position: absolute;
  top: 0px;
  right: 0px;
}

.leftvector {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
}