body{
  /* background gradient */
  background-image: linear-gradient(
    to left,
    rgb(176,148,255),
    rgb(146,122,235) 47% ,
    rgb(101,84,204)
  );
  color:aliceblue;
  overflow: hidden;
}

h1{
  text-align: center;
  font-size: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
}

.container {
  text-align: center;
  margin-top: 100px;
  height: 100vh;
  width: 100%
}

.image{
  max-width: 100%;
  height: auto;
}

/* vectors for background */
.rightvector {
  position: absolute;
  top: 0px;
  right: 0px;
}

.leftvector {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* buttons */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

button {
  /* rounded borders */
  border: none;
  border-radius: 12px;

  background-color: rgba(65,48,112,.7);
  color:aliceblue;

  padding: 10px 20px;
  font-size: 20px;
  margin-bottom: 10px;
  width: 55%; /* Adjust the width as needed */
}

/* navigation buttons */
#traversal {
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  text-align: center;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.back {
  background-color: rgb(65,48,112);
  align-self: center;
  width: 25%;
  height: 55px;
  line-height: 1em;
  font-weight: bold;
}

.next {
  background-color: rgb(65,48,112);
  align-self: center;
  width: 25%;
  height: 55px;
  line-height: 1em;
  font-weight: bold;
}

@media (max-width: 768px) {
  button {
    width: 80%; /* Adjust the width for smaller screens */
  }
}