/* Add Custom Font */
@font-face {
  font-family: AnekDevanagari;
  src: url("../font/AnekDevanagari-VariableFont_wdth\,wght.ttf");
}

* {
  font-family: AnekDevanagari, sans-serif;
  color: white;
}

/* Default Background Style */
body {
  background-image: url("../images/choose-fortune/todays-bg.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 700;
  overflow: hidden;
}

/* Animate Header Text */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in-animation {
  animation: fade-in 3s ease-in;
  animation-delay: 2s; /* delay this animation until after text animation */
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

/* Position Decorative Images */
.layer1 {
  background-image: url("../images/choose-fortune/v1.png");
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
  animation-delay: 1.5s;
}

.layer2 {
  background-image: url("../images/choose-fortune/v2.png");
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
  animation-delay: 2s;
}

/* Style 'Choose Your Fortune' Text */
h1 {
  font-size: 10vh;
  color: white;
  margin-top: 15vh;
  font-weight: 750;
}

.header-hidden {
  opacity: 0;
  display: inline-block;
}

/* Style Each Category */
.fortune-box {
  display: inline-block;
  width: max(28vh, 20px);
  height: 28vh;
  border-radius: 1vw;
  margin: 1vw;
  background-color: #ffffff33;
  padding: 0.1vw;
  transition: transform 0.25s ease;
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
  animation-delay: 1.5s; /* delay this animation until after text animation */
  cursor: pointer;
}

.fortune-box img {
  width: 18vh;
  height: 18vh;
  margin-top: 2vh;
  transition: transform 0.25s ease;
}

.fortune-box p {
  font-size: 3vh;
  margin-top: 0;
  color: #fff;
}

/* Add Animations */
.fortune-box:hover {
  transform: scale(1.1);
}

.fortune-box:hover img {
  transform: scale(1.15);
}

/* Style Navigation Buttons */
.button {
  background-color: #3b2b66ce;
  align-items: center;
  width: 10%;
  height: 8vh;
  line-height: 1.5em;
  font-weight: bold;
  font-size: calc(1vh + 1vw);
  position: fixed;
  bottom: 30px;
  left: 100px;
  border-radius: 1.25rem;
  border: none;
  color: #fff;
  padding: 1rem;
  top: 80vh;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
  animation-delay: 2s;
}

.button:hover {
  background-color: #413070b3;
  transform: scale(1.1);
}

/* Style Sound Button */
.sound-button {
  position: fixed;
  top: 30px;
  left: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.volume-slider {
  position: absolute;
  top: 35%;
  left: calc(100%);
  transform: translateY(-50%,-50%);
  width: 120px;
  height: 15px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background-color: purple;
  border-radius: 10px;
  box-shadow: 0 2px 5px #0000004d;
}

/* Sound Button Animations */
.sound-button:hover .volume-slider {
  width: 100px;
  height: 15px;
  opacity: 1;
}

#volume-icon {
  width: 50px;
  height: 50px;
}
