/* fonts */
@font-face {
  font-family: AnekDevanagari;
  src: url("../font/AnekDevanagari-VariableFont_wdth\,wght.ttf");
}

* {
  font-family: AnekDevanagari, sans-serif;
}

body {
  /* background gradient */
  background-image: linear-gradient(to right, #a994f0, #8474e7 47%, #704ed4);
  color: aliceblue;
  overflow: hidden;
}

h1 {
  text-align: center;
  line-height: vh;
  margin-top: 5%;
  font-size: min(8vh, calc((4vw + 4ch) / 2));
}

.container {
  text-align: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

/* buttons */
.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vh;
  position: relative;
  margin-top: 5%;
}

.round-button {
  align-items: center;
  border: none;
  margin-left: -2%;
  cursor: pointer;
  
}

.round-button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.15);
}

/* background vectors */
.leftvector {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 50%;
  max-height: 100%;
}

.rightvector {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-width: 50%;
  max-height: 100%;
}

/* Navigation buttons */
.navigation-left {
  position: absolute;
  top: 80%;
  left: 4%;
  z-index: 1;
  text-align: center;
  width: 20%;
  height: 30%;
  display: inline-block;
  font-weight: bold;
  font-size: calc(1vh + 1vw);
}

.navigation-right {
  position: absolute;
  text-align: center;
  top: 80%;
  right: 4%;
  z-index: 1;
  width: 20%;
  height: 30%;
  font-weight: bold;
  font-size: calc(1vh + 1vw);
}

#button-left,
#button-right {
  background-color: rgb(65 48 112);
  align-self: center;
  width: 50%;
  height: 8vh;
  line-height: 1em;
  font-weight: bold;
  font-size: calc(1vh + 1vw);
  transition: transform 0.3s ease;
  align-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

#button-left:hover:enabled {
  background-color: rgba(65 48 112 / 70%);
}

#button-right:hover:enabled {
  background-color: rgba(65 48 112 / 70%);
}


.selected {
  box-shadow: 0 0 5px #fff, 0 0 50px #fff, 0 0 20px #fff;
}

.fortune {
  box-sizing: border-box;
  border-radius: 45%;
}

#button-right:disabled {
  background-color: gray;
  color:lightgray;
  cursor: default;
}

button:hover:enabled {
  transform: scale(1.1);
}

/* resizable images */
img {
  max-width: 100%;
  height: auto;
}
