
/* fonts */
@font-face{
  font-family: AnekDevanagari;
  src: url("../font/AnekDevanagari-VariableFont_wdth\,wght.ttf");
}

*{
  font-family: AnekDevanagari, sans-serif;
}

body{
  /* background gradient */
  background-image: linear-gradient(to right, 
    hsl(254, 75%, 76%),
    hsl(248, 70%, 68%) 47%,
    hsl(255, 61%, 57%)
  );
  color:aliceblue;
  overflow: hidden;
}

h1{
  text-align: center;
  margin-top: 5%;
  font-size: min(8vh, calc((4vw + 4ch) / 2));
}

.container {
  text-align: center;
  align-items: center;
  width: 80%; 
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

/* buttons */
.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vh;
  position: relative;
  margin-top: 5%;
}

.round-button {
  align-items: center;
  border: none;
  margin-left: -2%;
}

.round-button:hover {
  transform: scale(1.1);
}

/* background vectors */
.leftvector {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
  max-width: 50%;
  max-height: 100%;
}

.rightvector {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-width: 50%;
  max-height: 100%;
}

/* Navigation buttons */
  .navigation-left {
  position: absolute;
  top: 80%;
  left: 4%;
  z-index: 1;
  text-align: center;
  width: 20%;
  height: 30%;
  display: inline-block;
  font-weight: bold;
  font-size: calc(1vh + 1vw);
}

.navigation-right {
  position: absolute;
  text-align: center;
  top: 80%;
  right: 4%;
  z-index: 1;
  width: 20%;
  height: 30%;
  font-weight: bold;
  font-size: calc(1vh + 1vw);
}

.button-left, .button-right {
  align-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background-color: hsl(255, 61%, 57%); 
  color: white;
  font-size: 100%; 
  cursor: pointer;
  width: 50%;
  height: 30%;
}

/* resizable images */
img {
  max-width: 100%;
  height: auto;
}
