/* Add Custom Font */
@font-face {
  font-family: AnekDevanagari;
  src: url("../font/AnekDevanagari-VariableFont_wdth\,wght.ttf");
}

* {
  font-family: AnekDevanagari, sans-serif;
}

/* Default Background Style */
body {
  background-image: linear-gradient(to left, #b094ff, #927aeb 47%, #6554cc);
  color: white;
  overflow: hidden;
}

/* Style Header Text */
h1 {
  text-align: center;
  font-size: calc(2vh + 2vw);
  font-weight: 600;
  margin: 4% 20% 2%;
  position: relative;
  height: 8vh;
  line-height: 1.2;
}

/* Animate Quote Boxes */
.container {
  animation: fade-in ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;
  margin-top: 4vh;
  height: 100vh;
  width: 100%;
}

/* Position Decorative Images */
.rightvector {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  max-height: 100%;
}

.leftvector {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 50%;
  max-height: 100%;
}

/* Display Quotes w/Flex */
.buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

/* Style Quote Buttons */
button {
  border: none;
  border-radius: 2vh;
  background-color: #413070b3;
  color: white;
  padding: 1.7vh 2vw;
  font-size: 2.6vmin;
  margin-bottom: 2vh;
  width: 55%; 
  transition: transform 0.3s ease;
  cursor: pointer;
  align-items: center;
  min-height: 10vh;
  line-height: 1.2;
}

/* Style Navigation Buttons */
.nav-back {
  position: absolute;
  width: 10%;
  height: 8vh;
  top: 85%;
  left: 2vw;
  z-index: 1;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border-radius: 1.25rem;
}

.nav-next {
  align-items: center;
  width: 10%;
  height: 8vh;
  border-radius: 1.25rem;
  position: absolute;
  top: 85%;
  right: 5vw;
  z-index: 1;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

#back {
  padding: 2% 8%;
}

#next {
  padding: 2% 8%;
}

/* Shadow when Button Selected */
.selected {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
    inset 0 0 10px #00000080;
}

/* Add Fade in Animation */
.images {
  animation: fade-in ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Style Disabled Next */
#next:disabled {
  background-color: gray;
  color: lightgray;
}

/* Add Hover Animations */
button:hover:enabled {
  transform: scale(1.1);
  box-shadow: 0 17px 50px 0 #00000030;
  background-color: rgba(65 48 112 / 90%);
}

#next:hover:enabled {
  transform: scale(1.1);
  box-shadow: 0 17px 50px 0 #00000030;
  background-color: rgba(65 48 112 / 90%);
}

#back:hover:enabled {
  transform: scale(1.1);
  box-shadow: 0 17px 50px 0 #00000030;
  background-color: rgba(65 48 112 / 90%);
}

@media (max-width: 860px) {
  button {
    width: 80%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Style Sound Button */
.sound-button {
  position: fixed;
  top: 30px;
  left: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.volume-slider {
  position: absolute;
  top: 35%;
  left: calc(100%);
  transform: translateY(-50%,-50%);
  width: 120px;
  height: 15px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background-color: purple;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 30%);
}

/* Sound Button Animations */
.sound-button:hover .volume-slider {
  width: 100px;
  height: 15px;
  opacity: 1;
}

#volume-icon {
  width: 50px;
  height: 50px;
}
