@font-face {
    font-family: AnekDevanagari;
    src: url("assets/font/AnekDevanagari-VariableFont_wdth,wght.ttf");
}

* {
	font-family: AnekDevanagari, sans-serif;
    color: white;
}

/* Set default styles for the body */
body {
	margin-right: 0;
	padding: 0;
	position: relative;
	background-image: 
		linear-gradient(281.58deg, #9760B9 16.06%, #4E3DB542 89.61%),
		linear-gradient(134.31deg, #6554CC 61.9%, #8A78F5 95.78%),
		linear-gradient(258.13deg, #7645C6 51.11%, #332845 95.05%);
	background-size: cover;
	background-attachment: fixed;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	overflow: hidden;
  }

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
	
    100% {
        opacity: 1;
     }
}

header {
	margin-bottom: 0;
	text-align: right;
}

/* Style the main button */
button {
	background-color: #413070;
	color: white;
	padding: 15px;
	border-radius: 12px;
	font-size: max(calc(1.3vh + 1.3vw), 10px);
	margin-right: 3vw;
	margin-top: 2vh;
	font-weight: bold;
	transition: transform 0.3s ease;
}

/* Style the main button on hover */
button:hover {
	background-color: rgba(65 48 112 / 70%);
	transform: scale(1.1);
}

/* Style the main content */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
	margin-top: 2vh;
}

/* Style the main content title */
h1 {
	color: white;
	font-size: calc(6vh + 3vw);
	margin: 1vh;
	position: absolute;

}

#top-line {
	top: 2vh;
}

#bottom-line{
	top: 20vh;
}

/* Style the main content buttons */
.inner-button {
	font-size: 6vh;
	padding: 2vh;
	background-color: rgb(65, 48, 112);
	color: white;
	border-radius: 12px;
	margin: 2vh;
	width: 40vw;
	height: 10vh; 
	transition: transform 0.3s ease;
	position: absolute;
}

#b1{
	top:50vh;
}

#b2{
	top:67vh;
}

/* Style the main content buttons on hover */
.inner-button:hover {
	background-color: rgba(65 48 112 / 70%);
	transform: scale(1.1);
}

/* Style the user button when disabled */
#user:disabled {
	visibility: hidden;
}

.vector1{
	position: absolute;
	/*bottom: -75px;
	left: -3px;
	z-index: -1;
	width: 100%;
	max-height: 75%;*/
	top: 10vh;
	left: -5vw;
	width: 110vw;
	height: 100vh;
	z-index: -1;
}

.vector2 {
	position: absolute;
	/*bottom: -75px;
	left: -3px;
	z-index: -1;
	width: 100%;
	max-height: 75%;*/
	bottom: 15vh;
	left: -5vw;
	width: 110vw;
	height: 55vh;
	z-index: -1;
}

.vector3 {
	position: absolute;
	bottom: 10vh;
	width: 100vw;
	left: 0vw;
	height: 30vh;
	z-index: -1;
}