/* Add Custom Font */
@font-face {
  font-family: AnekDevanagari;
  src: url("../font/AnekDevanagari-VariableFont_wdth\,wght.ttf");
}

* {
  font-family: AnekDevanagari, sans-serif;
}

/* Default Background Style */
html,
body {
  height: 100%;

  /* background gradient */
  background-image: linear-gradient(
    to bottom,
    #413070 50%,
    #6554cc
  );
  color: white;
  overflow: hidden;
}

/* Style 'Create Profile' Header */
h1 {
  text-align: center;
  font-size: calc(6vh + 2vw);
  font-weight: 600;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  height: 8vh;
  margin-bottom: 2vh;
}

/* Style Elements in the Form */
.container {
  margin-left: calc(25% - 8px);
  margin-top: 20vh;
  font-size: calc(4vh + 0.9vw);
}

/* Style Input Boxes */
input {
  border: none;
  border-radius: 0.8vh;
  padding: 0.8vh;
  color: black;
  float: right;
  font-size: calc(3vh);
}

/* Align Inidividual Boxes */
#name {
  margin-right: 35%;
}

#month {
  width: 5vh;
}

#date {
  width: 5vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

#year {
  width: 10vh;
  margin-right: 35%;
}

/* Box Matching Input */
select {
  font-size: 3vh;
  padding: 0.8vh;
  border: none;
  border-radius: 0.8vh;
  float: right;
  margin-right: 35%;
  color: black;
}

/* Hide Disabled Elements */
option {
  color: black;
}

select:invalid,
select option[value=""] {
  color: gray;
}

/* Style Navigation Buttons */
button {
  border: none;
  border-radius: 2vh;
  background-color: #413070;
  color: white;
  align-self: center;
  width: 25%;
  height: 7vh;
  padding: 2vh;
  line-height: 1em;
  font-weight: bold;
  transition: transform 0.3s ease;
  font-size: calc(1vh + 1vw);
}

/* Style Disabled Submit */
button:disabled {
  background-color: gray;
  color: lightgray;
}

/* Add Animation */
button:hover:enabled {
  background-color: #413070b3;
  transform: scale(1.1);
}

#traversal {
  margin: 1vh 25%;
  position: relative;
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Position Decorative Images */
.rightvector {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  max-height: 100%;
}

.leftvector {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 50%;
  max-height: 100%;
}
