/* Add Custom Font */
@font-face {
  font-family: AnekDevanagari;
  src: url("../font/AnekDevanagari-VariableFont_wdth\,wght.ttf");
}

* {
  font-family: AnekDevanagari, sans-serif;
  color: white;
}

/* Background Gradient */
body {
  background: linear-gradient(28.76deg, #6554cc 18.11%, #413070 78.69%) fixed;
  background-repeat: no-repeat;
}

/* Position Decorative Images */
.topleft-vector {
  position: absolute;
  top: -10px;
  left: 0;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
}

.bottom-vector {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
}

.bottom-right-vector {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
}

/* Style Left Half of Page */
#aura-image {
  border-radius: 20px;
  height: min(30vw, 60vh);
  width: auto;
}

#aura-image-container {
  position: absolute;
  left: 10vw;
  top: 28vh;
  bottom: 20vh;
  width: 50vw;
}

#you-are-feeling {
  position: absolute;
  text-align: center;
  left: calc(12vw);
  top: 14vh;
  font-size: calc(2.5vw);
  font-weight: bold;
}

/* Style Right Half of Page */
#right-container {
  display: grid;
  grid-template-columns: (1fr, 1fr);
  grid-gap: 5px;
  margin-left: auto;
  margin-right: 10vh;
  width: 50%;
}

/* Style Left Side Buttons */
.button {
  background: #3b2b66ce;
  border: none;
  color: #fff;
  border-radius: 1.25rem;
  font-weight: 600;
  padding: 1rem;
  height: 10vh;
  width: auto;
  transition: all 0.2s ease-in-out;
  font-size: 2vw;
}

.button:hover {
  box-shadow: 0 12px 16px 0 #ffffff3d, 0 17px 50px 0 #00000030;
  background-color: rgba(65 48 112 / 70%);
  transform: scale(1.02);
}

#new-fortune {
  grid-column: 1;
  grid-row: 10;
}

#create-profile {
  grid-column: 2;
  grid-row: 10;
}

/* Style Left Side Reading */
#reading {
  border-style: solid;
  border-color: transparent;
  border-radius: 30px;
  background-color: #413070c9;
  padding: 50px;
  color: white;
  grid-row: 9;
  grid-column: span 2;
  font-style: normal;
  font-weight: 350;
  font-size: calc(0.85vh + 0.85vw);
  place-content: center;
  height: fit-content;
}

#your-reading {
  text-align: center;
  font-size: 2.5vw;
  margin-bottom: -2vh;
  grid-row: 8;
  grid-column: span 2;
}

/* Style Top Navigation Buttons */
.button2 {
  background: transparent;
  border-color: transparent;
  border-radius: 20px;
  width: 5rem;
  height: 5rem;
  padding: 1vw;
  grid-row: 2;
  grid-column: 2;
}

#share {
  max-width: 5vw;
  height: fit-content;
  margin-left: 18vw;
  margin-right: 5vw;
}

#home {
  width: 5vw;
  height: fit-content;
  margin-left: 10vw;
  margin-right: 5vw;
}

/* Style Sound Button */
.sound-button {
  position: fixed;
  top: 30px;
  left: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.volume-slider {
  position: absolute;
  top: 35%;
  left: calc(100%);
  transform: translateY(-50%,-50%);
  width: 120px;
  height: 15px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background-color: purple;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 30%);
}

/* Sound Button Animations */
.sound-button:hover .volume-slider {
  width: 100px;
  height: 15px;
  opacity: 1;
}

#volume-icon {
  width: 50px;
  height: 50px;
}
