/* Set default styles for the body */
body {
	margin-right: 0;
	padding: 0;
	font-family: 'Anek Devanagari', sans-serif;
	position: relative;
	background-image: 
		linear-gradient(281.58deg, #9760B9 16.06%, rgba(78 61 181 / 26%) 89.61%),
		linear-gradient(134.31deg, #6554CC 61.9%, #8A78F5 95.78%),
		linear-gradient(258.13deg, #7645C6 51.11%, #332845 95.05%);
	background-size: cover;
	background-attachment: fixed;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	
}
/* .images {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grad1 {
	position: absolute;
	top: 0px;
	right: 0px;
	max-width: 50%;
	max-height: 100%;
}

.grad2 {
	position: absolute;
	top: 0px;
	right: 0px;
	max-width: 50%;
	max-height: 100%;
}

.grad3 {
	position: absolute;
	top: 0px;
	right: 0px;
	max-width: 50%;
	max-height: 100%;
} */
  /* .grad1 {
	background-image: url(bgvector1.png);
	top: 0px;
	right: 0px;
	max-width: 100vw;
	max-height: 100vh;
	border: 2px solid;
}

.grad2 {
	background-image: url(bgvector2.png);
	top: 0px;
	right: 0px;
	max-width: 100vw;
	max-height: 100vh;
	border: 2px solid;
	display: hidden;
}

.grad3 {
	background-image: url(bgvector3.png);
	position: absolute;
	width: 1042px;
	height: 349px;
	left: 1280px;
	top: 690px;
	z-index: -1;
	display: hidden;

	color: linear-gradient(258.13deg, #7645C6 51.11%, #332845 95.05%);
	mix-blend-mode: normal;
	transform: matrix(-1, 0, 0, 1, 0, 0);
} */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


* {
	font-family: 'AnekDevanagari', sans-serif;
	font-weight: bold;
}

header {
	margin-bottom: 0;
	text-align: right;
}

/* Style the main button */
button {
	background-color: #413070;
	color: white;
	padding: 15px;
	border-radius: 12px;
	font-size: max(calc(1.3vh + 1.3vw), 10px);
	margin-right: 3vw;
	margin-top: 2vh;
	border: none;
	font-weight: bold;
	transition: transform 0.3s ease;
}

/* Style the main button on hover */
button:hover {
	background-color: rgba(65 48 112 / 70%);
	transform: scale(1.1);
}

/* Style the main content */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
	margin-top: 2vh;
}

/* Style the main content title */
h1 {
	color: white;
	font-size: max(12vh, 40px);
	margin: 1vh;
	position: absolute;

}

#top-line {
	top: 2vh;
}

#bottom-line{
	top: 20vh;
}

/* Style the main content buttons */
.inner-button {
	border: none;
	font-size: 6vh;
	padding: 2vh;
	background-color: rgb(65, 48, 112);
	color: white;
	border-radius: 12px;
	margin: 2vh;
	width: 40vw;
	height: 10vh; 
	transition: transform 0.3s ease;
	position: absolute;
}

#b1{
	top:50vh;
}

#b2{
	top:67vh;
}

/* Style the main content buttons on hover */
.inner-button:hover {
	background-color: rgba(65,48,112,.7);
	transform: scale(1.1);
}

.vector1{
	position: absolute;
	/*bottom: -75px;
	left: -3px;
	z-index: -1;
	width: 100%;
	max-height: 75%;*/
	top: 10vh;
	left: -5vw;
	width: 110vw;
	height: 100vh;
	z-index: -1;
}

.vector2 {
	position: absolute;
	/*bottom: -75px;
	left: -3px;
	z-index: -1;
	width: 100%;
	max-height: 75%;*/
	bottom: 15vh;
	left: -5vw;
	width: 110vw;
	height: 55vh;
	z-index: -1;
}

.vector3 {
	position: absolute;
	bottom: 10vh;
	width: 100vw;
	left: 0vw;
	height: 30vh;
	z-index: -1;
}

body{
	overflow: hidden;
}